<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--ALL ARE FROM CLOUD DELIVERY NETWORK-->
    <!-- estimated loading time: 50 milliseconds -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 id="dayBook"><%= title %></h1>
    <time datatime="<%= today %>" id="today"><%= today %>, <%= weekday %></time>
    <button id="newEntry" type="button">New Entry</button>
  </body>
</html>