<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--ALL ARE FROM CLOUD DELIVERY NETWORK-->
    <!-- estimated loading time: 50 milliseconds -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<div>
    <h1 id="dayBook"><%= title %></h1>
    <time datatime="<%= today %>" id="today"><%= today %>, <%= weekday %></time>
</div>
<button id="newEntry" type="button">New Entry</button>
<!--display current entries-->
<section id="currentEntryWrap"></section>
<!--display new entry form-->
<section id="newEntryWrap"></section>
<!--display account selection-->
<section id="accountSheetWrap"></section>
<script data-main="/javascripts/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.min.js"></script>
<script src="/javascripts/ejs.js"></script>
</body>
</html>