<tr class="entryRow">
    <td><%= DATE %></td>
    <td><%= ENTRY %></td>
    <td><%= INVOICE %></td>
    <td><%= TEXT %></td>
    <td><%= AMOUNT %></td>
    <td><%= ACCOUNT %></td>
    <td><%= VAT_1 %></td>
    <td><%= CONTRA_ACCOUNT %></td>
    <td><%= VAT_2 %></td>
    <td><%= CURRENCY %></td>
    <td class="append"><i class="icon-remove"></i><i class="icon-pencil"></i></td>
</tr>